HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/nbproject/project.xml

### VS Code ###
.vscode/

### Database ###
data/
*.db
*.log

### OS ###
.DS_Store
Thumbs.db
