# Backend
backend/target/
backend/data/
backend/.idea/
backend/*.iml
backend/.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.idea/
frontend/*.iml

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Database
data/
*.db
*.log
